#quote-box {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}

#text {
  display: block;
  margin: 0.5rem;
  padding: 0.7rem;
}

#text::before,
#text::after {
  font: var(--fa-font-solid);
  font-size: 2.5rem;
  position: absolute;
}

#text::before {
  content: "\f10d";
  margin-right: 1rem;
  top: 1rem;
  left: 1rem;
}

#text::after {
  content: "\f10e";
  margin-left: 1rem;
  top: 1rem;
  right: 1rem;
}

.card {
  min-width: unset;
}

.redux-logo {
  height: 1.2rem;
  display: inline;
}


.contact-links,
.tech-stacks {
  display: inline-flex;
  list-style: none;
}

.tech-stacks {
  justify-content: flex-end;
}

.contact-links li,
.tech-stacks>li {
  display: inline-block;
  color: inherit;
  margin: 0 0.3rem 0 0.3rem;
}

.contact-links a {
  padding: 0.3rem;
}

.redux-logo {
  height: 1.2rem;
  filter: contrast(0%) brightness(100%) invert(100%);
}

@media (max-width: 576px) {
  .tech-stacks span {
    display: none;
    visibility: collapse;
  }

  #subtitle {
    display: block;
  }

  .card {
    min-width: 320px;
  }
}


.bg {
  background-size: 110% 110%;
  background-position: center;
}

/* Background Images */