#quote-box {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}

#text {
  display: block;
  margin: 0.5rem;
  padding: 0.7rem;
}

#text::before,
#text::after {
  font: var(--fa-font-solid);
  font-size: 2.5rem;
  position: absolute;
}

#text::before {
  content: "\f10d";
  margin-right: 1rem;
  top: 1rem;
  left: 1rem;
}

#text::after {
  content: "\f10e";
  margin-left: 1rem;
  top: 1rem;
  right: 1rem;
}

.card {
  min-width: unset;
}

.redux-logo {
  height: 1.2rem;
  display: inline;
}


.contact-links,
.tech-stacks {
  display: inline-flex;
  list-style: none;
}

.tech-stacks {
  justify-content: flex-end;
}

.contact-links li,
.tech-stacks>li {
  display: inline-block;
  color: inherit;
  margin: 0 0.3rem 0 0.3rem;
}

.contact-links a {
  padding: 0.3rem;
}

.redux-logo {
  height: 1.2rem;
  filter: contrast(0%) brightness(100%) invert(100%);
}

@media (max-width: 576px) {
  .tech-stacks span {
    display: none;
    visibility: collapse;
  }

  #subtitle {
    display: block;
  }

  .card {
    min-width: 320px;
  }
}


.bg {
  background-size: 110% 110%;
  background-position: center;
}

/* Background Images */

.bg-0 {
  background-image: url('http://www.outdoor-photos.com/_photo/3770240.jpg');
}

.bg-1 {
  background-image: url('http://www.outdoor-photos.com/_photo/4398577.jpg');
}

.bg-2 {
  background-image: url('http://www.outdoor-photos.com/_photo/4737919.jpg');
}

.bg-3 {
  background-image: url('http://www.outdoor-photos.com/_photo/2379874.jpg');
}

.bg-4 {
  background-image: url('http://www.outdoor-photos.com/_photo/3426759.jpg');
}

.bg-5 {
  background-image: url('http://www.outdoor-photos.com/_photo/3470056.jpg');
}

.bg-6 {
  background-image: url('http://www.outdoor-photos.com/_photo/1886964.jpg');
}

.bg-7 {
  background-image: url('http://www.outdoor-photos.com/_photo/3784535.jpg');
}

.bg-8 {
  background-image: url('http://www.outdoor-photos.com/_photo/3559540.jpg');
}

.bg-9 {
  background-image: url('http://www.outdoor-photos.com/_photo/1752471.jpg');
}

.bg-10 {
  background-image: url('http://www.outdoor-photos.com/_photo/2505043.jpg');
}

.bg-11 {
  background-image: url('http://www.outdoor-photos.com/_photo/4411998.jpg');
}

.bg-12 {
  background-image: url('http://www.outdoor-photos.com/_photo/4059961.jpg');
}