.card {
  min-width: unset;
}

.redux-logo {
  height: 1.2rem;
  display: inline;
}


.contact-links,
.tech-stacks {
  display: inline-flex;
  list-style: none;
}

.tech-stacks {
  justify-content: flex-end;
}

.contact-links li,
.tech-stacks>li {
  display: inline-block;
  color: inherit;
  margin: 0 0.3rem 0 0.3rem;
}

.contact-links a {
  padding: 0.3rem;
}

.redux-logo {
  height: 1.2rem;
  filter: contrast(0%) brightness(100%) invert(100%);
}

@media (max-width: 576px) {
  .tech-stacks span {
    display: none;
    visibility: collapse;
  }

  #subtitle {
    display: block;
  }

  .card {
    min-width: 320px;
  }
}